a {
    &.cta_button {
        box-sizing: border-box !important;
        transition: .3s;
        padding: 18px 30px 18px 30px;
        font-size: em(17);
        letter-spacing: .75px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border-width: 2px;
        border-style: solid;
        transition: .3s all linear;
        &:before {
            content: '';
            background-image: url(http://www.incitemarketing.co.uk/hubfs/CR/Home/cta-arrow.png);
            background-size: cover;
            right: 20px;
            top: 50%;
            height: 17px;
            width: 10px;
            transform: translateY(-50%);
            position: absolute;
        }
        &.big {
            padding-left: 53px;
            padding-right: 63px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 600;
            @media (max-width: 500px) {
                padding-left: 18px;
                padding-right: 28px;
                padding-top: 15px;
                padding-bottom: 15px;
                &:before {
                    right: 10px;
                }
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &.cta-outline {
        border-color: #fff;
        padding-right: 50px;
        background-color: rgba(#fff, .2);
        color: #fff;
        position: relative;
        &:hover {
            // background-color: rgba(#fff, .4);
            cursor: pointer;
        }
    }
    &.cta-border {
        border-color: #fff;
        background-color: rgba(#fff, 0);
        color: #fff;
        position: relative;
        padding-right: 50px;
        font-weight: 600;
        &:hover {
            // background-color: rgba(#fff, .4);
            cursor: pointer;
        }
    }
    &.cta-purple {
        border-color: $purple;
        background-color: rgba($purple, 1);
        padding-right: 50px;
        color: #fff;
        position: relative;
        &:hover {
            // background-color: rgba($purple, .7);
        }
    }
    &.cta-red {
        border-color: $red;
        background-color: rgba($red, 1);
        padding-right: 50px;
        color: #fff;
        position: relative;
        &:hover {
            // background-color: rgba($red, .7);
        }
    }
    &.cta-header {
        border-color: $red;
        background-color: rgba($red, 1);
        color: #fff;
        position: relative;
        font-weight: 600;
        font-size: 25px;
        line-height: 18px;
        padding: 10px 20px;
        .lower-text {
            font-size: 10px;
        }
        &:before {
            display: none;
        }
        @media (max-width: 1023px) {
            background-color: white;
            color: $red;
            padding: 7px 20px;
        }
        @media (max-width:425px) {
            padding: 8px 5px;
            font-size: 17px;
            .lower-text {
                font-size: 7px;
            }
        }
        &:hover {
            transform: scale(1);
        }
    }
}

body {
    &.home {
        a {
            &.cta-header {
                background-color: $red;
            }
        }
    } // &.klasa body {
    //     a {
    //         &.cta-header {
    //             background-color: kolor-cta;
    //         }
    //     }
    // }
}