.footer-background{
	background: #464646;
	position:relative;
	display:block;
	> div {
		padding: 30px 0 23px 0;
	}
	h3.header{
			font-size:18px;
			color:#fff;
			text-transform:uppercase;
			margin:35px 0 0 15px;
		}
	.left-content{
	padding:35px 0;
	color:#fff;
	font-weight:300;
		img.logo-footer{
			width:150px;
			margin-bottom:15px;
		}
		p{
			font-size:15px;
			a{
				color:#fff;
				text-decoration:none;
				cursor: pointer;
			}
		}
		h3{
			font-size:18px;
			font-weight:400;
		}
		ul.social {
			list-style-type: none;
			display:inline-block;
			margin:0;
			padding:0;
			li{
				display:inline-block;
				margin:0;
				padding-right:5px; 
				img.social{
					width:30px;

				}
			}
			li:before{
				display:none;
			}
			li:hover{
				img.social{
					width:30px;
					border:none;
					border-radius:30px;
					background:#fff;
					
				}
			}
		}
	}
}
.form-footer{
	display:block;
	position:relative;
	.cell-wrapper{
	span {
		color:#fff;
		a {
			padding-top:30px;
			display:block;
		}
	}
}
		form{
			padding: 0 15px;
			max-width: 500px;
    		margin: 0 auto;
			.hs_submit{
		        .actions:after {
		            font-family: "FontAwesome";
		            color: hubl("$cta_color");
		        }
		        .actions:hover:after {
		            color: hubl("$cta_background");
		        }
		    }
		    .hs-button.large.primary{
		        background: hubl("$cta_background");
		        border: 2px solid hubl("$cta_background");
		        color: hubl("$cta_color");
		        margin-top:25px;
		        transition:.5s;
		        }
		    .hs_submit{
		        .actions:after {
		            top: 32px;

		        }
		        .actions:hover:after {
					color: #ffc400;

		        }
		    }
		    .hs-button.large.primary:hover{
		        background-color: hubl("$cta_color");
		        border: 2px solid hubl("$cta_background");
		        color: #ffc400;
    			transform: scale(1.1);
    			transition:.5s;

		        }

		        .hs-form-field.field{
		            label{
		                display:none;
		            }
		            input,
		            textarea{
		                border:2px solid #fff;
		                outline: none;
		                background:#464646;
		                color: #fff;
		                font-size:18px;
		                padding: 10px 20px;
		                resize:none;
		            }
		            textarea.hs-input{
						height:71px;
		            }
		            input:focus,
		            textarea{
		                border:2px solid #fff;
		                background:#464646;
		                outline: none;
		                color: #fff;
		                resize:none;
		            }
		            placeholder{
						color:#fff;
		            }
		            ul.hs-error-msgs li label{
		                display:block;
		            }
		            ul.inputs-list{
		                list-style-type:none;
		            }
		            legend{
		                padding: 10px 0;
		            }
		        }
		        .input{
		            margin-bottom:10px;
		            height:45px;
		        }
		        
			}
		    
		    input[type=text] {
			    color:#fff;
				&::-webkit-input-placeholder {
	      		color:#fff;
			    font-weight: normal;
			    }
			    &::-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-ms-input-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			}
			input[type=email] {
			    color:#fff;
				&::-webkit-input-placeholder {
	      		color:#fff;
			    font-weight: normal;
			    }
			    &::-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-ms-input-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			}
			textarea[placeholder] {
			    color:#fff;
				&::-webkit-input-placeholder {
	      		color:#fff;
			    font-weight: normal;
			    }
			    &::-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-ms-input-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			    &:-moz-placeholder {
			    color:#fff;
			    font-weight: normal;
			    }
			}
		}	

#map{
	margin:0 auto;
}
@media screen and (max-width: 768px) {
	.footer-background{
		h3.header{
				margin:25px auto;
				text-align:center;
			}
		.left-content{
			display: flex;
	    	flex-direction: column;
	    	align-items: center;
	    }
	}

}
