* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container{
	max-width:1140px;
	padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0; 
    line-height: 1.42857143;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    
}

.body-container-wrapper {

}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slick-slider {

    .slick-next, .slick-prev {

        &:before {
        }

        &:hover {
        }
    }

    .slick-next {

        &:before {
        }
    }

    .slick-prev {

        &:before {
        }

    }

    .slick-dots {

        li {
            margin: 0;
            
            button {

                &:before {
                }
            }
        }
    }
}
    