header {
    &.header {
        width:100%;
        position: fixed;
        z-index:99999;
        top:0;
        left:0;
        transition: .5s ease;
        &.header-transparent {
            background: transparent;
        }
        &.header-color {
            background: white;
            box-shadow: 0px 10px 53px -15px rgba(0,0,0,0.55);
            .header-wrapper {
                > div {
                    .logo {
                        img {
                            width: 100px !important;
                        }
                    }
                }
                .hs-menu-wrapper {
                    &.hs-menu-flow-horizontal { 
                        > ul {
                            li.hs-menu-depth-1 {
                                > a {
                                    line-height: 60px;
                                    color: $mainFontColor;
                                    &:hover {
                                        &:before {
                                            top: 15px;
                                        }
                                    }
                                }
                                > ul {
                                    top:65px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-wrapper {
            .slicknav_menu {
                display: none;
            }
            > div {
                display:flex;
                align-items: center;
                transition: .5s ease;
                margin-left: 0 !important;
                > div {
                    flex:1;
                    display: flex;
                    justify-content: center;
                    &:first-child {
                        margin-right: auto;
                    }
                    &:last-child {
                        margin-left: auto;
                    }
                }
                .logo {
                    img {
                        transition: .5s ease;
                    }
                }
                .header-cta {
                    float:right;
                }
            }
            .hs-menu-wrapper {
                &.hs-menu-flow-horizontal { 
                    > ul {
                        display: flex;
                        justify-content: center;
                        li.hs-menu-depth-1 {
                            margin-left:40px;
                            @media (max-width: 1100px) {
                                margin-left:20px;
                            }
                            &:first-child {
                                margin-left:0;
                            }
                            a {
                                color: white;
                                text-transform: uppercase;
                                line-height: 2;
                                font-size: em(14);
                                font-weight: 600;         
                                padding: 0;
                            }
                            > a {
                                position:relative;
                                transition: .5s ease;
                                line-height: 120px;
                                &:hover {
                                    &:before {
                                        content: "";
                                        border-top:2px solid $red;
                                        display: block;
                                        position:absolute;
                                        top:45px;
                                        width:100%;
                                    }
                                }
                            }
                            > ul {
                                padding:0;
                                background: $red;
                                top:85px;
                                left:50%;
                                text-align: center;
                                transform: translateX(-50%);
                                transition: .5s ease;
                                > li.hs-menu-depth-2 {
                                    position:relative;
                                    padding: 12px 50px;
                                    &.hs-item-has-children {
                                        &:after {
                                            content: "\f054";
                                            font-family: FontAwesome;
                                            font-size: 12px;
                                            display:block;
                                            position:absolute;
                                            color:white;
                                            top:50%;
                                            transform: translateY(-50%);
                                            right:15px;
                                        }
                                    }
                                    &:hover {
                                        background-color: $lightred;    
                                    }
                                    > ul {
                                        padding:0;
                                        background: $lightred;
                                        left:100%;
                                        > li.hs-menu-depth-3 {
                                            padding:5px 25px;
                                            &:hover {
                                                background: $red;
                                            }
                                            a {
                                                text-transform: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Slick
header {
    &.header {
        .header-wrapper {
            .slicknav_menu {
                position: relative;
                display: none;
                background-color: $red;
                height: 60px;
                padding:0;
                img {
                        width: 100px;
                        float: left;
                        margin-top: 8px;
                    }
                .slicknav_btn {
                    background-color:transparent;
                    margin:0;
                    padding: 15px 15px 0 15px;
                    height:60px;
                }
                .slicknav_icon-bar {
                    width:40px;
                    height:3px;
                    margin-top:5px;
                }
                .slicknav_nav {
                    background-color: $red;
                    overflow:auto;
                    max-height: calc(100vh - 60px);
                    @media(max-width: 425px) {
                        max-width: calc(100vh - 100px);
                    }
                    a {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 12px;
                        margin:0;
                        padding-top:10px;
                        padding-bottom:10px;
                        &:hover {
                            background-color: $lightred;
                            color:white;
                            border-radius: 0
                        }
                    }
                    .slicknav_row {
                        &:hover {
                            background-color: $lightred;
                            border-radius:0;
                        }
                    }
                    .hs-menu-children-wrapper {
                        margin:0;
                        padding-left:30px;
                        background-color: $lightred;
                    }
                }
            }
        }
    }
}





// Mobile
@media (max-width:1023px) {
    header {
        &.header {
            .header-wrapper {
                padding:0;
                .slicknav_menu {
                    display:block;
                }
                > div:last-child {
                    display:none;
                }
            }
        }
    }
}

@media (max-width:425px) {
    header {
        &.header {
            .header-cta {
                
            }
        }
    }
}

