* {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

body {
    font-family: $firstFont;
    font-size: 18px;
    line-height: normal;
    color: $mainFontColor;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d1d1d1;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
strong,
em,
small,
blockquote {
    color: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin-top: 0;
    margin-bottom: 30px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: $firstFont;
}

h1,
.h1,
h2,
.h2 {
    span {
        color: $red;
    }
}

h1,
.h1 {
    font-size: em(86);
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    @media (max-width: 600px) {
        font-size: em(60);
    }
}

h2,
.h2 {
    font-size: em(54);
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase;
    color: $thirdFontColor;
}

h3,
.h3 {
    font-size: em(42);
    font-weight: 600;
    text-transform: uppercase;
    color: $thirdFontColor;
}

h4,
.h4 {
    font-size: em(30);
    font-weight: normal;
    color: $mainFontColor;
}

h5,
.h5 {
    font-size: em(24);
    font-weight: normal;
    color: $mainFontColor;
    letter-spacing: .5px;
    line-height: 1.2;
}

.spec {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-color: $red;
            width: 50px;
            height: 3px;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
        }
    }
}

p {
    &.subheader {
        font-size: em(24);
    }
}

a {
    text-decoration: none;
    color: $red;
}

blockquote {
    font-style: italic;
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_raw_html {
    ul {
        list-style: none;
        padding-left: 25px;
        li {
            position: relative;
            &:before {
                content: "●";
                color: $red;
                position: absolute;
                top: 0;
                left: -25px;
                font-size: inherit;
            }
        }
    }
    ol {
        list-style: none;
        counter-reset: li;
        padding-left: 25px;
        li {
            position: relative;
            &:before {
                position: absolute;
                counter-increment: li;
                content: counter(li)".";
                color: $red;
                top: 0;
                left: -25px;
                font-size: inherit;
                font-weight: 600;
            }
        }
    }
}