$dev_version : true;


$firstFont: "Montserrat";
$secondFont: "Karla";
$thirdFont: "Ubuntu";

$mainFontColor: #686868; //grey
$secondFontColor: #404040; // dark grey
$thirdFontColor: #bdbdbd; //light grey

$red: #fe0a38;
$yellow: #ffcc00;
$pink: #fa68e1;
$orange: #f37f03;
$grey: #ececec;
$lightred: #f94265;
$greyLight: #ebebeb;
$darkBlue: #404040;
$purple: #fa68e1;

$variables : (
			  "$first_color": #ffc400, 			// 1 hubl("$first_color")
			  "$second_color": #4a4949,			// 2 hubl("$second_color")
			  "$cta_background": #ffc400,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
			  "$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #ffc400,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #626262,		// 7 hubl("$main_font_color")
			  "$font": "Palanquin"				//   hubl("$font")
			  );

$browser-context: 18; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

