form{ 
    position:relative;
    .hs_submit{
        position:relative;
        .actions:after {
            font-family: "FontAwesome";
            content: "\f107";
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            color: hubl("$cta_color");
            right: 10px;
            top: 7px;
            transition:.3s;
            transform: rotate(270deg);
        }
        .actions:hover:after {
            color: #fa68e1;
            transition:.3s;
        }
    }
    .hs-button.large.primary{
        float:right;
        display: inline-block;
        background: #fa68e1;
        border: 2px solid #fa68e1;
        color: hubl("$cta_color");
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 10px 35px 10px 20px;
        margin:0px auto 10px;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        }
    .hs-button.large.primary:hover{
        background-color: hubl("$cta_color");
        border: 2px solid #fa68e1;
        color: #fa68e1;
        -webkit-appearance: none;
        }
        .hs-form-field.field{
            label{
                display:none;
            }
            label.hs-form-radio-display{
                    display:block;
            }
            label.hs-form-checkbox-display{
                display: block;
            }
            input,
            textarea{
                border:1px solid #acacac;
                outline: none;
                color: #959595;
                font-size:18px;
                padding: 10px 20px;
            }
            input:focus,
            textarea{
                border:1px solid #acacac;
                outline: none;
                color: #959595;
            }
            ul.hs-error-msgs li label{
                display:block;
            }
            ul.inputs-list{
                list-style-type:none;
            }
            legend{
                padding: 10px 0;
            }
        }
        .input{
            margin-bottom:10px;
    }
}
.dropdown_select.input {
    font-size: 18px;
    min-width: 300px;
    user-select: none;
    select {
        display: none;
    }
    .dropdown-header {
        border: 1px solid #ebebeb;
        background: #ebebeb;
        color: #777777;
        padding: 0 20px;
        height: 50px;
        cursor: pointer;
        position: relative;
        text-align:center;
        span {
            line-height: 50px;
            font-weight: 300;
            color: #777777;
        }
        &:after {
            font-family: "FontAwesome";
            content: "\f107";
            font-size: 30px;
            position: absolute;
            color: #fe0a38;
            right: 20px;
            top: 10px;
            transition:.2s;
        } 
        &.dropdown-selected {
            color: #777777;
        }
    }
    .dropdown-header.slide-down{
        border: 1px solid #ebebeb;
        background: #ebebeb;
        color: #959595;
        padding: 0 20px;
        height: 50px;
        cursor: pointer;
        position: relative;
        span {
            line-height: 50px;
            font-weight: 300;
        }
        &:after {
            font-family: "FontAwesome";
            content: "\f107";
            font-size: 30px;
            position: absolute;
            color: #959595;
            right: 20px;
            top: 10px;
            transform: rotate(90deg);
            transition:.2s;
        }
        &.dropdown-selected {
            color: #777777;
        }
    }
    .dropdown-list {
        background-color: #ebebeb;
        list-style: none;
        padding-left: 0;
        margin: 0;
        float: left;
        height: 100%;
        width: 100%;
        box-shadow: 0px 4px 5.82px 0.18px #D6D5D5;
        font-size: 15px;
        li {
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            background-color:#f3f1f1;
            color: #777777;
            clear: left;
            text-align:center;
            font-weight: 300;
            display: block !important;
            margin-right: 0 !important;
            transition:.2s;
        }
        li:hover {
            background-color: #fe0a38;
            color: #FFF;
            transition:.2s;
        }
    }
}
input {
    &[type="checkbox"] {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 0px;
            position: relative;
            cursor: pointer;
            &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid #acacac!important;
                color:#f7f5f5!important;
                top: 3px;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
            }
            &:after {
                content: "\f00c";
                position: absolute;
                top: 50%;
                color:#f7f5f5!important;
                transform: translateY(-50%);
                left: -28px;
                font-family: "FontAwesome";
                transition: color 0.3s, box-shadow 0.3s;
            }
            &:hover:after {
                color:#fe0a38!important;
                transition: color 0.3s, box-shadow 0.3s;
            }
            &:hover:before {
                border-color: #fe0a38!important;
                cursor: pointer;
            }
        }
        &:checked+span:after {
            content: "\f00c";
            color: #fe0a38!important;
            font-size: 15px;
            cursor: pointer;
        }
    }
    &[type="radio"] {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 0px;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                border-radius: 50%;
                border: 1px solid #acacac!important;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 20px;
                width: 20px;
                transition: 0.3s;
            }
            &:after {
                content: '';
                position: absolute;
                left: -26px;
                top: 50%;
                color:#f7f5f5!important;
                transform: translateY(-50%);
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: #f7f5f5;
                border: 1px solid #d7d7d7!important;
            }
            &:hover:after {
                background:#fe0a38!important;
                border: 1px solid #fff!important;
                transition: color 0.3s, box-shadow 0.3s;
            }
            &:hover:before {
                border-color: #f7f5f5;
                cursor: pointer;
            }
        }
        &:checked+span {
            &:after {
                content: '';
                position: absolute;
                left: -26px;
                top: 50%;
                color:#f7f5f5!important;
                height: 12px;
                width: 12px;
                background:#fe0a38!important;
            }
        }
    }
    &::-webkit-input-placeholder {
      
        font-weight: normal;
    }
     &::-moz-placeholder {
      
       font-weight: normal;
    }
     &:-ms-input-placeholder {
   
        font-weight: normal;
    }
     &:-moz-placeholder {
      
        font-weight: normal;
    }
}
input.hs-input,
    textarea,
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #acacac;
        outline: none;
        color: #959595;
        font-size: 18px;
        border-radius: 3px;
        padding: 10px 20px;
        color: #7f7f7f;
        &:focus {
            border: 1px solid #acacac;
            outline: none;
            color: #959595;
        }
        &.error {}
        &::-ms-reveal {
            visibility: hidden;
            display: none !important;
            pointer-events: none;
            position: absolute;
            right: 0;
        }
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
    }
}
 * {
     ::-webkit-input-placeholder {
        // font-family: $primaryFont;
        color: #7f7f7f;
    }
     ::-moz-placeholder {
        // font-family: $primaryFont;
        color: #7f7f7f;
    }
     :-ms-input-placeholder {
        // font-family: $primaryFont;
        color: #7f7f7f;
    }
     :-moz-placeholder {
        // font-family: $primaryFont;
        color: #7f7f7f;
    }
}
.hs-error-msgs {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    li {
        padding-left: 0;
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 0;
        margin-left: 0px;
        color: #fe0a38;
        &:first-child {
            margin-left: 10px;
        }
        &:before {
            content: '';
            display: none !important;
        }
        a {
            color: inherit;
            font-weight: inherit;
        }
    }
}
 