.clients {
    background-color: white;
    .text-box {
        padding:100px 0 50px 0;
        text-align: center;
        line-height: em(40);
    }
    .industry-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            font-size: em(18);
            text-transform: uppercase;
        }
        .filter-wrapper {
            position:relative;
            .choose-filter {
                min-width: 400px;
                padding:0;
                margin:0;
                position: relative;
                text-transform: uppercase;
                background-color:#ddd;
                border:none;
                font-size: em(15);
                line-height: 60px;
                //height: 60px;
                color: #acacac;
                cursor: pointer;
                &:after {
                    content:'\f107';
                    display:inline-block;
                    font-family: FontAwesome;
                    position: absolute;
                    right: 15px;
                    font-size:30px;
                    top: 0px;
                    color: $red;
                }
                @media (max-width:425px) {
                    min-width: 310px;
                    font-size: em(12);
                    &:after {
                        right: 5px;
                    }
                }
            }
            .industries {
                display: none;
                width:100%;
                position:absolute;
                top:60px;
                left:0;
                z-index: 9999;
                background-color:#ddd;
                border:none;
                font-size: em(15);
                color: #acacac;
                padding:0;
                text-align: center;
                cursor: pointer;
                @media (max-width:425px) {
                    font-size: em(12);
                }
                .industry {
                    width:100%;
                    padding: 15px 0;
                    text-transform: uppercase;
                    border-top:1px solid $thirdFontColor;
                    list-style-type: none;
                    &:before {
                        content:'';
                    }
                    &:hover {
                        background-color: $thirdFontColor;
                        color: white;
                    }
                }
            }
        }
        h5 {
            text-align: center;
            margin-top:50px;
            text-transform: uppercase;
            font-size: em(15);
            letter-spacing: .05em;
        }
    }
    .yellow-cta-section {
        background-color: $yellow;
        padding: 100px 0;
        text-align: center;
        h2 {
            font-weight: 600;
            position: relative;
            color: white;
            line-height: 2;
            font-size: em(50);
            @media (max-width: 450px) {
                font-size: em(40);
            }

            span {
                color: $red;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom:0;
                border: 3px solid $red;
                width:50px;
                left:50%;
                transform: translateX(-50%);
            }
        }
        p {
            padding:15px 0;
            color: #404040;
            line-height: 1.5;
            font-size: em(24);
        }
    }

}