.homepage {
    .white-section {
        background-color: #fff;
        text-align: center;
        padding: 90px 0;
        h2 {
            font-weight: 600;
            margin-bottom: 50px;
        }
        h5 {
            text-align: center;
            max-width: 950px;
            margin-left: auto;
            margin-right: auto;
        }
        .white-bottom {
            margin-top: 50px;
            h3 {
                margin-bottom: 60px;
            }
        }
    }
    .brands-module,
    .advices-section {
        padding: 90px 0 100px;
        text-align: center;
    }
    .advices-upper,
    .brands-upper {
        margin-bottom: 55px;
    }
    .solution-slider {
        padding: 40px 20px 50px;
        background-color: $greyLight;
        overflow: visible;
        position: relative;
        &:before,
        &:after {
            position: absolute;
            content: '';
            top: 0;
            height: 100%;
            width: 20px;
            z-index: 99;
        }
        @media (min-width: 901px) {
            &:before {
                left: 20px;
                background: linear-gradient(to right, rgba(#ebebeb, .99) 0%, rgba(#ebebeb, 0) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#007db9e8', GradientType=1);
                /* IE6-9 */
            }
            &:after {
                right: 20px;
                background: linear-gradient(to left, rgba(#ebebeb, .99) 0%, rgba(#ebebeb, 0) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ebebeb', GradientType=1);
                /* IE6-9 */
            }
        }
    }
    .advices-section {
        background-color: #fff;
        h2 {
            font-weight: 600;
        }
        .advices-custom-wrapper {
            position: relative;
            .cta_button {
                position: absolute;
                top: calc(100% - 45px);
                max-width: 360px;
                left: 50%;
                transform: translateX(-50%); 
                &:hover {
                    transform: translateX(-50%) scale(1.1); 
                }
            }
        }
    }
    .brands-module {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        h2 {
            color: #fff;
        }
        h5 {
            color: $darkBlue;
            margin-bottom: 35px;
        }
        .brands-slider-section {
            background-color: #fff;
            padding: 50px 0;
            box-shadow: 0px 3px 65px 0px rgba(13, 7, 7, 0.26);
            position: relative;
            .brands-slider {
                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 25px 0 10px;
                    >div {
                        max-width: 120px;
                        margin: 15px 10px;
                    }
                }
            }
            .cta_button {
                position: absolute;
                top: calc(100% - 45px);
                max-width: 360px;
                left: 50%;
                transform: translateX(-50%);
                &:hover {
                    transform: translateX(-50%) scale(1.1); 
                }
            }
            h4 {
                font-size: em(15);
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $red;
                position: relative;
            }
        }
    }
    .latest-section {
        background-color: $yellow;
        background: linear-gradient(to bottom, $yellow 0%,$yellow 70%,$yellow 70%,white 70%,white 100%);
        padding-top: 60px;
        padding-bottom: 50px;
        .latest-upper {
            margin-bottom: 50px;
            h2,
            h5,
            p {
                text-align: center;
            }
            h2 {
                font-weight: 600;
                color: #fff;
            }
        }
        .latest-boxes {
            >span {
                display: flex;
                justify-content: center;
                @media (max-width: 1100px) {
                    flex-wrap: wrap;
                    >div {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}