.backgroud-white{
	background:#fff!important;
}
.background-black{
	background:#343030;
}
.background-red{
	background-color:#fe0a38;
}
.background-yellow{
	background-color:#ffce0a;
}
.hero-banner{
	height:400px;
	justify-content: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align:center;
	position:relative;
    h1{
    	position: absolute;
    	top: 40%;
    	font-size: 70px;
    	left: 0;
    	right: 0;
    }
}
.image{
	background: url('http://www.incitemarketing.co.uk/hubfs/INCITE%20IMAGES/banner.png') no-repeat center bottom;
	background-size: contain;
	width: 100%;
	height: 180px;
	position:absolute;
	bottom:0;
	left:0;
	right: 0;
}

@media screen and (max-width: 768px) {
	.hero-banner{
		height:400px;
	    h1{
	    	font-size:50px;
	    }
	}
}	
.header-text{
	margin:80px auto;
	text-align:center;
	}
.services a.cta-header{
	border-color: #fa68e1!important;
    background-color: #fa68e1!important;
	}
	.services a.cta-header:hover{
	border-color: #f37f03!important;
    background-color: #f37f03!important;
	}
@media screen and (max-width: 1023px) {
		.services a.cta-header{
			border-color: #fa68e1!important;
		    background-color: #fa68e1!important;
		    color:#fff!important;
		}
}
	.overvive-box {
		width:50%;
		position:relative;
		height:700px;
		float:left;
		display:inline-block;
		box-sizing: border-box;
		margin:0;
		padding:50px;
		background: #fe0a38;
		text-align:center;
		transition:.3s;
		overflow:hidden;
		a.more{
			display:none;
		}
		.hover-image{
    		height: 100%;
    		width: 100%;
    		position:absolute;
    		top:0;
    		bottom:0;
    		left:0;
    		right:0;
    		display:none;
    	}
    	.content-background{
    		background:#fff;
    		height: 600px;
    		display: flex;
    		flex-flow: column;
    		justify-content: center;
    		justify-content: space-around;
    		padding:50px;
    		transition:.3s;
    	}
		img{
			margin:0 auto;
			display:block;
			width:60px;
		}
		img.hover{
				display:none;
				transition: 0.3s;
			}
		h2{
			color:#fe0a38;
			font-size:45px;
			width:350px;
			margin:0 auto;
		}
		h3{
			font-size:25px;
			color:#fe0a38;
			text-transform:lowercase;
			font-weight:400;
			max-width:550px;
			margin:0 auto;
		}
		p{
			color:#464646;
			line-height: 1.6em;
		}
		
	}
	.overvive-box:hover {
		transition: 0.3s;
		border:none;
		height:700px;
	    display: flex;
    	align-items: center;
    	justify-content: center;
    	position:relative;
    	.hover-image{
    		display:block;
    	}
		img.hover{
			transition: 0.3s;
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			height:700px;
			left: 0px;
    		top: 0;
		}
		a.more{
			display:block;
			position:absolute;
			left:0;
			right:0;
			color:#fff;
			font-size:40px;
			margin-right: 20px;
			font-weight:bold;
			transition:.3s;
			top: 50%;
		}
		a.more:after{
			font-family: "FontAwesome";
            content: "\f107";
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            color: hubl("$cta_color");
            top:3px;
            transition:.3s;
            transform: rotate(270deg);
		}
	}
	.box-yellow{
		background: #ffcc00;
		transition:.3s;
		h2{
			color:#ffcc00;
		}
		h3{
			color:#ffcc00;
		}
	}
	.box-pink{
		background: #fa68e1;
		transition:.3s;
		h2{
			color:#fa68e1;
		}
		h3{
			color:#fa68e1;
		}
	}
	.box-orange{
		background: #f37f03;
		transition:.3s;
		h2{
			color:#f37f03;
		}
		h3{
			color:#f37f03;
		}
	}

@media screen and (max-width: 991px) {
	.overvive-box,
	.overvive-box.box-yellow,
	.overvive-box.box-pink,
	.overvive-box.box-orange {
		width:100%!important;
	}

}
@media screen and (max-width: 768px) {
	.overvive-box {
		padding:35px!important;
		.content-background{
    		height: 630px;
    	}
		h2{
			font-size:35px;
			max-width:350px;
			margin:0 auto;
		}
		h3{
			font-size:20px;
			color:#fe0a38;
		}
	}
}
@media screen and (max-width: 450px) {
	.overvive-box {
		padding:25px!important;
		.content-background{
    		height: 650px;
    	}
		h2{
			font-size:26px!important;
			max-width:300px;
			margin:0 auto;
		}
		h3{
			font-size:18px!important;
			color:#fe0a38;
		}
		p{
			font-size:15px
		}
	}
}
.slide{
	display:flex;
    flex-flow: column;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    margin:60px auto;
    padding:0 50px;
    h2{
		color:#fff;
		text-align:center;
		span{
			color:#ffcc00;
		}
    }
    h2:after{
		content:"";
		display:block;
		height:3px;
		width:50px;
		background:#ffcc00;
		margin:10px auto;
    }
    p.content{
    	text-align:center;
    	color:#fff;
    	font-style:italic;
    	padding:0 20px;
    	max-width:1000px;
    }
    p.singature{
    	text-align:center;
    	color:#ffcc00;
    	text-transform:uppercase;
    }
}
.slider{
	> div > span {
		max-width: 1140px;
    	margin: 0 auto;
	}
	.slick-next, 
	.slick-prev{
		margin-top:0px;
		z-index: 100;
		top:40%;
		overflow:visible;
	}
	.slick-prev{
		left:15px;
	}
	.slick-next{
		right:15px;
	}

	.slick-next:before,
	.slick-prev:before{
		font-family: "FontAwesome";
        content: "\f107";
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        color: hubl("$cta_color");
        transition:.3s;
        transform: rotate(360deg);
        opacity:1;
        display: block;
        overflow:visible;
       
       }
    .slick-prev:before{
		transform: rotate(0deg);
    }

}
.slider .slick-next:before, .slider .slick-prev:before{
	 top:0;
}
