.service-text{
	p {
		margin:0;
		color:#fff;
		line-height:1.6em;
		font-size: 20px;
	}
}
.header-service{
	text-align:center;
	padding:60px 0;
		p{
			color:#fe0a38;
			margin-bottom:20px;
			text-transform:uppercase;
		}
		h3{
			margin:0;
			color:#464646;
			font-size:30px;
			font-weight:600;
			text-transform:uppercase;
		}
}