.case-study-box{
	display:flex;
	flex-flow:column;
	text-align:center;

    align-items: center;
	width:25%;
	position:relative;
	float:left;
	text-align:center;

		.mask{
			position:absolute;
			width:100%;
			height:100%;
			opacity:0.65;
			transition:.3s;
			display:block;
			left:0;
			right:0;
			top:0;
			bottom:0;
		}
		img{
			height: 100%;
			width: 100%;
		}
		h2.header{
			position:absolute;
			text-align:center;
			display: block;
			color:#fff;
			font-size:36px;
			font-weight:400;
			padding:0 100px;
			margin:0;
			left:0;
			top:40%;
		}
		p.content{
			display:none
		}
		a{
			display:none;
		}
}

.case-study-box:hover,
.case-study-box:focus{
	overflow:hidden;
		.mask{
			position:absolute;
			width:100%;
			height:100%;
			opacity:1;
			transition:.3s;
			display:block;
			left:0;
			right:0;
			top:0;
			bottom:0;
		}
		h2.header{
			display: none;
			transition:.3s;
			left:0;
		}
		p.content{
			display:block;
			position:absolute;
			text-align:center;
			top:120px;
			color:#fff;
			padding:0px 90px;
			font-size: 24px;
			line-height:1.6em;
			left:0;
		}

		a{
			display:block;
			position:absolute;
			text-align:center;
			bottom:100px;
			box-sizing:border-box;
			color:#fff;
			font-size: 26px;
			border:1px solid #fff;
			padding:25px 60px 25px 50px;
			left:50%;
			transform:translateX(-50%);
			width: 270px;
		}
		a:after{
			font-family: "FontAwesome";
            content: "\f107";
            font-size: 26px;
            font-weight: normal;
            position: absolute;
            color: hubl("$cta_color");
         	top: 26px;
            transition:.3s;
            transform: rotate(270deg);
        }
        a:hover:after{
    		top: 26px;
    	}
}
@media screen and (max-width: 1650px) {
	.case-study-box{
		h2.header{
			padding:0 30px;
			font-size:30px;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:100px;
			color:#fff;
			padding:0px 60px;
			font-size: 22px;
			line-height:1.6em;
		}
		a{
			bottom:60px;
			font-size: 26px;
			padding:25px 50px 25px 40px;
			width: 250px;
		}
		a:after{
            font-size: 26px;
         	top: 26px;
            transition:.3s;
        }
        a:hover:after{
    		top: 26px;
    	}
	}
}
@media screen and (max-width: 1350px) {
	.case-study-box{
		h2.header{
			padding:0 30px;
			font-size:30px;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:40px;
			color:#fff;
			padding:0px 50px;
			font-size: 22px;
			line-height:1.6em;
		}
		a{
			bottom:50px;
			font-size: 26px;
			padding:20px 40px 20px 40px;
			width: 230px;
		}
		a:after{
            font-size: 26px;
         	top: 21px;
            transition:.3s;
        }
        a:hover:after{
    		top: 21px;
    	}
	}
}
@media screen and (max-width: 1150px) {
	.case-study-box{
		h2.header{
			padding:0 20px;
			font-size:26px;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:60px;
			color:#fff;
			padding:0px 15px;
			font-size: 22px;
			line-height:1.4em;
		}
		a{
			bottom:40px;
			box-sizing:border-box;
			font-size: 20px;
			padding:15px 30px 15px 20px;
			min-width:0px;
			width:180px;

		}
		a:after{
            font-size: 24px;
         	top: 15px;
            transition:.3s;
        }
        a:hover:after{
    		top: 15px;
    	}
	}
}
@media screen and (max-width: 991px) {
	.case-study-box{
		width:50%;
		h2.header{

			font-size:36px;
			padding:0 50px;

		}
		p.content{
			display:none
		}
		a{
			display:none;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:100px;
			color:#fff;
			padding:0px 50px;
			font-size: 24px;
			line-height:1.6em;
		}
		a{
			bottom:100px;
			color:#fff;
			font-size: 26px;
			border:1px solid #fff;
			padding:25px 60px 25px 50px;
			width: 270px;
		}
		a:after{
            font-size: 26px;
         	top: 26px;
        }
        a:hover:after{
    		top: 26px;
    	}
}
}
@media screen and (max-width: 768px) {
	.case-study-box{
		h2.header{
			padding:0 40px;
			font-size:30px;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:80px;
			color:#fff;
			padding:0 15px;
			font-size: 22px;
			line-height:1.6em;
		}
		a{
			bottom:50px;
			font-size: 26px;
			padding:20px 50px 20px 40px;
			width: 250px;
		}
		a:after{
            font-size: 26px;
         	top: 21px;
            transition:.3s;
        }
        a:hover:after{
    		top: 21px;
    	}
	}
}
@media screen and (max-width: 600px) {
	.case-study-box{
		width:100%;
	h2.header{
			font-size:36px;
			font-weight:400;
			padding:0 100px;

		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:120px;
			padding:0px 35px;
			font-size: 24px;
			line-height:1.6em;
		}
		a{
			bottom:100px;
			color:#fff;
			font-size: 26px;
			border:1px solid #fff;
			padding:25px 60px 25px 50px;
			width: 270px;
		}
		a:after{
            font-size: 26px;
         	top: 26px;
            transition:.3s;
            transform: rotate(270deg);
        }
        a:hover:after{
    		top: 26px;
    	}
}
}
@media screen and (max-width: 450px) {
	.case-study-box{
		h2.header{
			padding:0 40px;
			font-size:30px;
		}
	}
	.case-study-box:hover,
	.case-study-box:focus{
		p.content{
			top:80px;
			color:#fff;
			padding:0px 20px;
			font-size: 22px;
			line-height:1.6em;
		}
		a{
			bottom:70px;
			font-size: 22px;
			padding:15px 30px 15px 20px;
			width: 200px;
		}
		a:after{
            font-size: 24px;
         	top: 15px;
            transition:.3s;
        }
        a:hover:after{
    		top: 15px;
    	}
	}
}
