.clients-logos {
    padding:50px 0;
    > span {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        > div {
            width:20%;
            @media(max-width:992px) {
                width: 33.33%;
            }
            @media (max-width:580px) {
                width: 50%;
            }
            img {
                padding:30px 30px;
                margin:0 auto;
                cursor:pointer;
            }       
        }
    }
}

.modal {
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index: 999999;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,.7);
    overflow:auto;
    .modal-wrapper {
        width:100%;
        max-width: 1170px;
        margin:100px auto;
        position: relative;
        background:#fff;
        padding: 50px 100px;
        .close-button {
            text-align: right;
            font-size:30px;
            color: #d7d7d7;
            cursor:pointer;
        }
        #modal-slider {
            width:100%;
            text-align: center;
            .prev-arrow, .next-arrow {
                position:absolute;
                top:50%;
                font-size: 40px;
                color: $yellow;
                cursor:pointer;
            }
            .prev-arrow {
                left:-50px;
            }
            .modal-slider-item {
                width:100%;
                img {
                    margin:0 auto;
                    max-height: 100px;
                }
                p {
                    margin: 50px 0;
                    padding:0 25px;
                    line-height: 1.5;
                    @media (max-width:768px) {
                        padding:0 0px;
                    }
                }
                a {
                    display: inline-block;
                    background-color: $purple;
                    padding:10px 30px;
                    color: white;
                    text-transform: uppercase;
                    font-size: em(15);
                    cursor: pointer;
                    transition: .5s ease-in;
                    transform-origin: center center;
                    transform: scale(1);
                    -webkit-font-smoothing: antialiased;
                    backface-visibility: hidden;
                    &:hover {
                        text-decoration: none;
                        transform: scale(1.1) translate3d(0,0,0);
                    }
                }
            }
            .next-arrow {
                right:-50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .modal {
        .modal-wrapper {
            margin:0px auto;
            padding: 50px 15px;
            }
        }
    }

