.download-module{
	margin:80px 0 0 0;
	padding:0 0 80px 0;
	background-size: contain!important;
	h2{
		font-size:42px;
		color:#fff;
		font-weight:600;
	}
	h3{
		color:#fe0a38;
		font-size:30px;
		padding-right:25%;
		font-weight:600;
	}
	p{
		padding-right:50%;
		font-weight:300;
	}
}
@media screen and (max-width: 768px) {
	.download-module{
		background-image:none!important;
		margin:0;
		padding:40px 0;
	}
	h3{
		padding-right:0!important;
	}
	p{
		padding-right:0!important;
	}
}