.hero-banner-slider {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 610px;
    padding: 100px 0;
    h1,
    h3 {
        margin: 0;
    }
    @media (max-width: 450px) {
        h1 {
            font-size: em(50);
        }
    }
    &__mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
        padding: 0 15px;
        display: flex;
        @media (min-width: 980px) {
            min-width: 950px;
        }

        .heading {
            padding-right: 60px;
            width: 53%;
        }
        .description {
            width: 48%;
            padding-left: 35px;
            border-left: 4px solid #fff;
            h3 {
                font-size: em(29);
                font-family: $secondFont;
                font-weight: 400;
                letter-spacing: .5px;
                text-transform: none;
                color: rgb(255, 255, 255);
                line-height: 1.2;
                text-align: left;
                @media (max-width: 600px) {
                    font-size: em(24);
                    margin-top: 20px;
                }
            }
            .cta_button {
                margin-top: 35px;
            }
        }
        @media (max-width: 979px) {
            flex-direction: column;
            width: 90%;
            .heading, .description {
                width: 100%;
                padding: 0;
            }
            .description {
                border-left: 0px;
            }
        }
    }
}

.home-slider-wrapper {
    height: 610px;
    overflow: hidden;
    width: 100%;
    position: relative;
    &:before {
        content: '';
        background-image: url(http://www.incitemarketing.co.uk/hubfs/CR/Home/wave_effect_new.png);
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        z-index:9999;
    }
    .slick-dots {
        bottom: 80px;
        @media (max-width: 979px) {
            bottom: 50px;
        }
        @media (max-width: 500px) {
            bottom: 30px;
        }
    }
}