.latest-box {
    max-width: 250px;
    height: 100%;
    margin: 10px;
    transition: .3s linear all;
    background-color: $grey;
    .image-wrapper {
        height: 180px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        .mask {
            position: absolute;
            height: 100%;
            width: 100%;
            transition: inherit;
            background-color: rgba($darkBlue, 0);
            
        }
    }
    .text-wrapper {
        padding: 25px 25px;
        position: relative;
        transition: .3s linear all;
        h5 {
            margin-top: 0;
            margin-bottom: 20px;
            color: $red;
        }
        p {
            font-size: em(12);
            line-height: 1.4;
        }
        >a {
            position: absolute;
            left: 25px;
            bottom: 5px;
            font-size: em(15);
            border-bottom: 2px solid $red;
            color: $red;
            line-height: 1.9;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                text-decoration: none;
            }
        }
    }
    iframe {
        display: none !important;
    }
    &:hover {
        box-shadow: 0px 0px 42.32px 3.68px rgba(0, 0, 0, 0.26);
        background-color: $red;
        .image-wrapper {
            .mask {
                background-color: rgba($darkBlue, 0.3);
            }
        }
        .text-wrapper {
            transition: inherit;
            p,
            h5,
            a {
                color: #fff;
                transition: inherit;
            }
            a {
                border-color: #fff;
                &:before {
                    color: #fff;
                }
            }
        }
    }
}