.photo-box{
	width:33.3333333%;
	float:left;
	display:inline-block;
	position:relative;
	margin:0;
	padding:0;
	box-sizing:border-box;
	a{
		.mask{
		background:#000;
		opacity:0;
		width: 100%;
		height:100%;
		position: absolute;
		transition: .3s;
		}
		.mask:hover{
		opacity:0.5;
		transition: .3s;
		}
	}
}
@media screen and (max-width: 768px) {
	.photo-box{
		width:100%;
	}
}

.photo-box-full{
	width:100%;
	min-height:400px;
	display:block;
	position:relative;
	margin:0;
	padding:0;
	box-sizing:border-box;
	a{
		.mask{
		background:#000;
		opacity:0;
		width: 100%;
		height:100%;
		position: absolute;
		transition: .3s;
		}
		.mask:hover{
		opacity:0.3;
		transition: .3s;
		}
	}
}
@media screen and (max-width: 768px) {
	.photo-box{
		width:100%;
	}
}
