
section.question {
    padding: 95px 0 0px 0;
    float: left;
    width: 100%;
    .panel-heading{
    	h4.panel-title{
    		position:relative;
    		padding-left:50px;
    		a{
    			color:#000;
    		}
    	}
    	h4.panel-title a.collapsed:before{
			font-family: "FontAwesome";
            content: "\f107";
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            color: #fe0a38;
            left:0;
            top: 2px;
            transition:.3s;
            transform: rotate(270deg);
    	}
    	h4.panel-title:before{
			content:"";
			position:absolute;
			display:block;
			width:35px;
			height:35px;
			background:transparent;
			left:-10px;
			top:0px;
			border:2px solid #fe0a38;
			border-radius:50px;
    	}
    	h4.panel-title a:before{
			font-family: "FontAwesome";
            content: "\f107";
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            color: #fe0a38;
            left:0;
            top: 2px;
            transition:.3s;
            transform: rotate(360deg);
    	}
    }
    .panel-body{
    	margin:0 0 30px 50px;
    	color:#464646;
    	font-size:15px;
    	line-height:1.6em;
       
    }
}

section.question {
  counter-reset: sekcja;
}


.faq-box h4.panel-title {
  position: relative;
}

.faq-box .panel-collapse {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}
