.solution-slider-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: $greyLight;
}

.solution-slider {
    .slick-slide {
        @media (min-width: 901px) {
            filter: blur(4px);
        }
        transition: .3s all ease-in-out;
        transform: scale(1);
        min-height: 320px;
        .solution-slide {
            border-radius: 50%;
            text-align: center;
            background-color: $red;
            color: #fff;
            position: relative;
            width: 160px;
            height: 160px;
            transition: .3s all;
            .content-wrapper {
                padding: 10px 20px;
                .icon-wrapper {
                    position: absolute;
                    transition: inherit;
                    max-width: 60px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .text-wrapper {
                    height: 0;
                    overflow: hidden;
                    margin-top: 90px;
                    font-size: em(24);
                    line-height: 1.2;
                    p {
                        font-size: em(24);
                        line-height: 1.2;
                    }
                }
            }
        }
        &.slick-active {
            opacity: 1;
        }
        &.slick-hidden {
            opacity: 0;
        }
        &.slick-hidden-left {
            opacity: 0;
        }
        &.slick-current+.slick-active {
            @media (min-width: 901px) {
                transform: scale(1.3);
                filter: blur(2px);
                min-height: 246.153px;
            }
        }
        &.active-slide+.slick-active,
        &.slide-upper {
            @media (min-width: 900px) {
                transform: scale(1.3);
                min-height: 246.153px;
                filter: blur(2px);
            }
        }
        @media (max-width: 900px) {
            transform: scale(1.9);
            min-height: 168.4210px;
            position: relative;
            z-index: 3;
            filter: none;
            .solution-slide {
                .content-wrapper {
                    padding: 10px 20px;
                    .icon-wrapper {
                        max-width: 30px;
                        top: 17px;
                        transform: translateX(-50%);
                    }
                    .text-wrapper {
                        height: auto;
                        font-size: em(12);
                        margin-top: 50px;
                    }
                }
            }
        }
        @media (max-width: 400px) {
            transform: scale(1.6);
            min-height: 200px;
        }
        &.active-slide {
            @media (min-width: 901px) {
                transform: scale(1.9);
                min-height: 168.4210px;
                position: relative;
                z-index: 3;
                filter: none;
                .solution-slide {
                    .content-wrapper {
                        padding: 10px 20px;
                        .icon-wrapper {
                            max-width: 30px;
                            top: 17px;
                            transform: translateX(-50%);
                        }
                        .text-wrapper {
                            height: auto;
                            font-size: em(12);
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
}

.solution-slider {
    overflow: hidden;
    max-width: 860px;
    margin: 0 auto !important;
    float: none !important;
    .slick-track {
        min-height: 320px;
        display: flex;
        align-items: center;
        >div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .slick-slider {
        button {
            @media (min-width: 1170px) {
                &.slick-prev {
                    left: -150px;
                }
                &.slick-next {
                    right: -150px;
                }
            }
            @media (max-width: 1169px) and (min-width: 992px) {
                &.slick-prev {
                    left: -70px;
                }
                &.slick-next {
                    right: -70px;
                }
            }
            @media (max-width: 991px) and (min-width: 901px) {
                &.slick-prev {
                    left: -25px;
                }
                &.slick-next {
                    right: -25px;
                }
            }
            @media (max-width: 900px) {
                &.slick-prev {
                    left: -10px;
                }
                &.slick-next {
                    right: -10px;
                }
            }
        }
    }
}

.ie11 {
    .solution-slider {
        .slick-slide {
            @media (min-width: 901px) {
                .solution-slide {
                    margin-top: 80px;
                }
            }
            @media (min-width: 901px) {
                &.slick-current+.slick-active {
                    .solution-slide {
                        margin-top: 40px;
                    }
                }
            }
            @media (min-width: 901px) {
                &.active-slide+.slick-active,
                &.slide-upper {
                    .solution-slide {
                        margin-top: 40px;
                    }
                }
            }
            @media (min-width: 901px) {
                &.active-slide {
                    .solution-slide {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}