.text-banner {
    position:relative;
    min-height: 500px;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    h1 {
        text-align: center;
        letter-spacing: .05em;
        @media (max-width: 450px) {
            font-size: em(40);
        }
    }
    &:after{
        content: '';
        background-image: url(http://www.incitemarketing.co.uk/hubfs/CR/Home/wave_effect_new.png);
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        left:0;
        z-index: 9999;
    }
}
